	#text1{
		padding-bottom: 50px;
	}

	h3{
		padding-bottom: 50px;
		font-family: Arial Verdana;
	}

	img{
		width: 78px;
	}


#supprimer {

	width: 10pt;
	height: 10pt;
}

hr{
border: 1px black ridge;
}

h5{
	text-decoration: underline;	
	font-family: Arial Verdana;
}
