doctype html
html
  head
    title Blog Javascript
    | &#x9;
    meta(charset='utf-8')
    | &#x9;
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css')
    | &#x9;
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
  body
    ul#dropdown1.dropdown-content
      li
        a(href='index.html') Admin
    | &#x9;
    nav
      .nav-wrapper
        ul.right.hide-on-med-and-down
          li
            a.dropdown-button(href='index.html', data-activates='dropdown1')
              i.material-icons menu
        | &#x9;&#x9;&#x9;
        #heure.center-align
    | &#x9;
    .row
      .col.s12
        #title.col.m4
          h3 Titre de l&apos;article
        | &#x9;&#x9;&#x9;
        #infotitre(rows='10')
        | &#x9;&#x9;&#x9;
        center
          #article.col.m8
            h3 Article
        | &#x9;&#x9;&#x9;
        script(src='node_modules/jquery/dist/jquery.js')
        | &#x9;&#x9;&#x9;
        script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js')
        | &#x9;&#x9;&#x9;
        script(src='app.js')